@tailwind base;
@tailwind components;
@tailwind utilities;


.section {
  background: url(/public/images/hero_image.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.5; */
  height: 700px;
  position: relative;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.testimonial-card {
  transform: translateX(0);
  transition: transform 0.5s ease;
}

.testimonial-0:hover,
.testimonial-1:hover {
  transform: translateX(-10%);
}

.testimonial-2:hover,
.testimonial-3:hover {
  transform: translateX(10%);
}

/* .latest:after {
  content: '';
  border: none;
  border-bottom-color:  gray;
  margin-left: 1%;
} */